<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <h1>form.html - EJS Heading</h1>
        <p>form.html - EJS paragraph</p>
        <div>
            <form>
                <label for="title">Form Title:</label>
                <input type="text" id="title" required>
                <label for="freetext">Free text:</label> 
                <input type="text" id="freetext" required>
                <button>Send</button>
            </form>
        </div>
        <div>
            <p>Previuos forms dynamic injection using ejs</p>
            <% if (formsData.length > 0) { %>
                <% formsData.forEach(data => { %>
                    <h3><%= data.title %></h3>
                    <h3><%= data.content %></h3>
                <% }) %>
            <% } %>
        </div>
    </body>
</html>